.SignOutBar {
  width: 35vw;
  height: 100%;
  padding: 5px;
  margin: 0;
  background-color: none;
  display: flex;
  justify-content: center;
}

.SignOutBarBtn {
  background-color: #000 !important;
  width: 8rem;
  margin: 0 !important;
  color: #fff !important;
  border: 1px solid white !important;
  outline: none !important;
  text-align: center;
  text-decoration: none !important;
}
.SignOutBarBtn:hover {
  background-color: #fff !important;
  color: #000 !important;
}
