.ui.grid > .blue.column,
.ui.grid > .blue.row,
.ui.grid > .row > .blue.column {
  background-color: #000 !important;
  
}

.ui.grid > .green.column,
.ui.grid > .green.row,
.ui.grid > .row > .green.column {
  background-color: #000 !important;
  
}

.ui.grid > .grey.column,
.ui.grid > .grey.row,
.ui.grid > .row > .grey.column {
  background-color: #000 !important;
  
}

div.black.column{
  
  padding-left: 14px !important;
}

.ui.grid>.black.column, .ui.grid>.black.row, .ui.grid>.row>.black.column {
  background-color: #000!important;
  color: #fff;
  
}
