.layout2{
    top: 200px;
     
     justify-content: center !important;
     flex-direction: column;
     /* transform: rotate(90deg); */
     border-radius: 0px;
     border: ;
 }
 .layout img{
    padding: 0;
    top: 0
 }
 #root{
     
     /* height: 100vh */
 }