.layout{
   top: 20;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    background-color: #000 !important;
    transform: rotate(90deg);
}

