.layout{
   top: 200px;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    
    /* transform: rotate(90deg); */
}
#root{
    background-color: black; 
    height: 100vh
}

